img/
/img/
/img/*
log/
/log/
/log/*
/slurm_files/*
/data/
/data/*
/data/inferred_LCs/*
/data/inferred_LCs/
*.png
*.pkl
/latent_circuit_inference/run_inference/outputs
/slurm_files/
*/outputs
*/outputs/
*/outputs/*
style/*
/style/*
.DS_Store
*/.DS_Store


